body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #eee;
    margin: 0;
    font-size: 12pt;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    max-width: 8in;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 2rem;
    text-align: justify;
}

#header {
    width: 100%;
    margin: 0;
    background: #ddd;
    padding: 1rem;
    box-sizing: border-box;
}

#header a {
    text-decoration: none;
}

#header h1 {
    max-width: 8in;
    margin: 0 auto;
    font-size: 36pt;
    font-family: 'Titillium Web', sans-serif;
    color: #000;
}

#header p {
    max-width: 8in;
    margin: 0 auto;
    color: #555;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 9pt;
    background: #e5e5e5;
}

#footer a {
    color: #555;
}


.post-preview {
    display: block;
    margin: 2em 0;
    text-decoration: none;
}

.post-preview .post-title {
    color: #000;
    margin: 0;
}

.post-preview .post-date {
    color: #555;
    margin: 0;
}
