<html>
    <head>
        <title>{% block titlebar %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="page-container">
            <header id="header">
                <a href="/">
                    {% block header %} {% endblock %}
                </a>
            </header>

            <div id="content-wrap">
                {% block content %}{% endblock %}
            </div>

            <footer id="footer">
                <a href="https://github.com/cruzsbrian/dangerouslemonade">
                    source code for this website
                </a>
            </footer>
        </div>
    </body>
</html>
