<html>
    <head>
        <title>dangerous lemonade</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="page-container">
            <div id="header"><h1>{{ pagetitle }}</h1></div>
            <div id="content-wrap">
            <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. nulla gravida placerat fermentum. nunc eget porttitor magna. maecenas porttitor quam nec elementum molestie. integer orci elit, euismod eu luctus in, rutrum eget felis. nulla feugiat varius sagittis. cras vitae suscipit mauris. etiam vitae urna bibendum, porta purus gravida, dignissim sapien. aliquam erat volutpat. suspendisse congue nisi in lorem consectetur tincidunt in eu felis. donec nisi ipsum, sagittis nec elit et, mattis laoreet magna. sed volutpat sapien ac leo venenatis, nec interdum elit pulvinar. nullam fermentum blandit tincidunt. proin viverra ac ex id rhoncus. maecenas tempor facilisis lorem, quis pharetra justo viverra sed.
            </p>
            <p>
    Nullam et dolor et purus rhoncus posuere. Quisque ut iaculis leo, eget tempor tellus. Ut vel suscipit nulla, a pharetra lectus. Duis sit amet ipsum maximus eros eleifend euismod ut quis leo. Mauris ac suscipit ipsum. Sed placerat sollicitudin facilisis. Phasellus in mauris ex. Nullam vitae rutrum risus, ac ullamcorper ex. Duis volutpat mollis pretium. Curabitur quis congue lorem. Nullam bibendum pellentesque magna. Cras ullamcorper interdum sapien. Aliquam malesuada aliquam facilisis. Proin volutpat varius odio, ut sodales lectus iaculis eu. Duis nibh purus, tincdunt a est id, maximus vehicula enim. Mauris ligula urna, mollis ac ultricies rutrum, congue sed arcu.

            </p>
            <p>
    Suspendisse potenti. Fusce mollis placerat arcu non tristique. In dolor leo, congue et blandit blandit, maximus eget neque. Sed lobortis enim risus, in condimentum dolor cursus lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec faucibus, enim vitae auctor aliquam, magna felis aliquet augue, in rhoncus risus est nec neque. Aliquam maximus erat sed lorem sollicitudin varius. Nullam venenatis, velit id auctor feugiat, purus tellus pulvinar urna, pretium pharetra felis turpis a dolor. Sed euismod feugiat diam a lobortis. Maecenas justo mi, facilisis et luctus eu, lacinia vel lacus. Ut vitae suscipit tortor. Quisque tellus enim, luctus quis leo nec, tempor accumsan turpis. Vestibulum nec sem in urna vestibulum pulvinar. Vestibulum pretium rutrum arcu in imperdiet. Nunc malesuada elementum dui vel pretium. Donec pulvinar sapien vel diam placerat varius.

            </p>
            <p>
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam id sem sagittis, consequat lorem ut, finibus mauris. Donec a leo porttitor, blandit dui quis, faucibus metus. Integer dictum augue ultricies consectetur sodales. Integer feugiat pellentesque quam, sit amet imperdiet diam pretium id. Etiam imperdiet risus a tortor convallis, sit amet finibus diam finibus. Etiam ac volutpat tellus. Sed ut consequat nibh. Praesent condimentum nisi odio, sed rutrum orci viverra non. Fusce efficitur mauris lorem, non ornare eros rhoncus in. Morbi sed ex malesuada, iaculis justo a, porta ligula.

            </p>
            <p>
    Curabitur cursus hendrerit luctus. Curabitur ut consequat ante. Pellentesque elementum, ex eget vestibulum luctus, turpis massa hendrerit tortor, id mollis magna ante venenatis diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dolor lorem, auctor quis ligula sit amet, lacinia molestie risus. Vestibulum justo neque, lacinia at mi vel, egestas pulvinar felis. Donec sem eros, sagittis vel dignissim interdum, vestibulum a nibh. Sed eros lorem, cursus ut sollicitudin ac, accumsan eu eros. Nunc purus lorem, tempus ornare neque eu, varius tristique eros. Proin maximus odio nisl, ut lacinia dolor aliquet nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

            </p>
            <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida placerat fermentum. Nunc eget porttitor magna. Maecenas porttitor quam nec elementum molestie. Integer orci elit, euismod eu luctus in, rutrum eget felis. Nulla feugiat varius sagittis. Cras vitae suscipit mauris. Etiam vitae urna bibendum, porta purus gravida, dignissim sapien. Aliquam erat volutpat. Suspendisse congue nisi in lorem consectetur tincidunt in eu felis. Donec nisi ipsum, sagittis nec elit et, mattis laoreet magna. Sed volutpat sapien ac leo venenatis, nec interdum elit pulvinar. Nullam fermentum blandit tincidunt. Proin viverra ac ex id rhoncus. Maecenas tempor facilisis lorem, quis pharetra justo viverra sed.

            </p>
            <p>
    Nullam et dolor et purus rhoncus posuere. Quisque ut iaculis leo, eget tempor tellus. Ut vel suscipit nulla, a pharetra lectus. Duis sit amet ipsum maximus eros eleifend euismod ut quis leo. Mauris ac suscipit ipsum. Sed placerat sollicitudin facilisis. Phasellus in mauris ex. Nullam vitae rutrum risus, ac ullamcorper ex. Duis volutpat mollis pretium. Curabitur quis congue lorem. Nullam bibendum pellentesque magna. Cras ullamcorper interdum sapien. Aliquam malesuada aliquam facilisis. Proin volutpat varius odio, ut sodales lectus iaculis eu. Duis nibh purus, tincdunt a est id, maximus vehicula enim. Mauris ligula urna, mollis ac ultricies rutrum, congue sed arcu.

            </p>
            <p>
    Suspendisse potenti. Fusce mollis placerat arcu non tristique. In dolor leo, congue et blandit blandit, maximus eget neque. Sed lobortis enim risus, in condimentum dolor cursus lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec faucibus, enim vitae auctor aliquam, magna felis aliquet augue, in rhoncus risus est nec neque. Aliquam maximus erat sed lorem sollicitudin varius. Nullam venenatis, velit id auctor feugiat, purus tellus pulvinar urna, pretium pharetra felis turpis a dolor. Sed euismod feugiat diam a lobortis. Maecenas justo mi, facilisis et luctus eu, lacinia vel lacus. Ut vitae suscipit tortor. Quisque tellus enim, luctus quis leo nec, tempor accumsan turpis. Vestibulum nec sem in urna vestibulum pulvinar. Vestibulum pretium rutrum arcu in imperdiet. Nunc malesuada elementum dui vel pretium. Donec pulvinar sapien vel diam placerat varius.

            </p>
            <p>
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam id sem sagittis, consequat lorem ut, finibus mauris. Donec a leo porttitor, blandit dui quis, faucibus metus. Integer dictum augue ultricies consectetur sodales. Integer feugiat pellentesque quam, sit amet imperdiet diam pretium id. Etiam imperdiet risus a tortor convallis, sit amet finibus diam finibus. Etiam ac volutpat tellus. Sed ut consequat nibh. Praesent condimentum nisi odio, sed rutrum orci viverra non. Fusce efficitur mauris lorem, non ornare eros rhoncus in. Morbi sed ex malesuada, iaculis justo a, porta ligula.

            </p>
            <p>
    Curabitur cursus hendrerit luctus. Curabitur ut consequat ante. Pellentesque elementum, ex eget vestibulum luctus, turpis massa hendrerit tortor, id mollis magna ante venenatis diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dolor lorem, auctor quis ligula sit amet, lacinia molestie risus. Vestibulum justo neque, lacinia at mi vel, egestas pulvinar felis. Donec sem eros, sagittis vel dignissim interdum, vestibulum a nibh. Sed eros lorem, cursus ut sollicitudin ac, accumsan eu eros. Nunc purus lorem, tempus ornare neque eu, varius tristique eros. Proin maximus odio nisl, ut lacinia dolor aliquet nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
            </div>
            <footer id="footer">
                <a href="https://github.com/cruzsbrian/dangerouslemonade">
                    source code for this website
                </a>
            </footer>
        </div>
    </body>
</html>
